.signin-frame {
  max-width: 35rem;
  margin: 0rem auto;
}
.signin-frame h1 {
  font-size: 2rem;
  text-align: center;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 15px;
  flex-direction: column;
}

.form input {
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  padding: 0.5rem 0.5rem;
}
.form button {
  padding: 0.5rem;
  background-color: #2564cf;
  color: #ffff;
  border-radius: 5px;
  border: 1px solid transparent;
}
.form button:disabled {
  background-color: grey;
  color: #ffff;
}
